.article {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  
}

.article_title {
  margin-bottom: 20px;
}

.article_content {
  margin-bottom: 20px;
}

.article_author {
  color: #aaa;
}