.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;

  top: 0;
  left: 0;

  padding: 10px;

  background-color: dodgerblue;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.nav-link {
  color: white;
}